<div class="channel-program-header">
    <input value="<%=name%>" type="text" />
    <div class="channel-program-timer">
        <input type="datetime" step="1" value="<%=lifetime_start%>">
        <input type="datetime" step="1" value="<%=lifetime_end%>">
        <input type="" >
    </div>
    <button class="btn-channel-setup-timer">定时设置</button>
</div>
<div class="channel-program-body">
    <div class="channel-program-layout">
        <div class="channel-program-layout-header">
            <span>布局:<%=layout.name%></span>
            <span>宽:<%=layout.width%></span>
            <span>高:<%=layout.height%></span>
            <button class="btn-channel-preview">预览</button>
        </div>
        <div class="channel-program-layout-body">
        </div>
        <div class="channel-program-layout-footer">
            <ul></ul>
        </div>
    </div>
    <div class="channel-program-widget">
        正在加载数据
    </div>
</div>
<div class="channel-program-footer">

</div>
