
#channel-editor-wrapper {
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#channel-editor-wrapper .channel-editor-header {
    background-color: #3c8dbc;
    height: 50px;
}

#channel-editor-wrapper .channel-editor-body {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    width: 100%;
    height: calc(100% - 60px);
    min-width: 1200px;
}

#channel-editor-wrapper .channel-editor-body:after {
    content: '';
    display: block;
    clear: both;
}
    

#channel-editor-wrapper .channel-program-list ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}


#channel-editor-wrapper .channel-program-editor {
    margin-left: 15px;
    width: calc(100% - 272px);
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-editor-footer {}

#channel-editor-wrapper ul>li.selected {
    border-color: red;
}

#channel-editor-wrapper .channel-program-header {
    height: 54px;
}

#channel-editor-wrapper .channel-program-body {
    height: calc(100% - 60px);
}

#channel-editor-wrapper .channel-program-footer {  }

#channel-editor-wrapper .channel-program-layout {
    width: calc(100% - 500px);
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-program-layout-header {
    height: 54px;
    position: relative;
}

#channel-editor-wrapper .channel-program-layout-header-info{
    position: relative;
    top: 17px;
    margin-left: 15px;
    font-weight: 600;
 }

#channel-editor-wrapper .channel-program-layout-body {
    height: calc(100% - 160px);
    position: relative;
}

#channel-editor-wrapper .channel-program-layout-footer {
    height: 100px;
}

#channel-editor-wrapper .channel-program-widget {
    width: 500px;
    height: 100%;
    float: left;
}

#channel-editor-wrapper .channel-program-body:after {
    content: '';
    display: block;
    clear: both;
}

#channel-editor-wrapper .channel-program-layout-footer {
    width: 100%;
    overflow-x: auto;
}

#channel-editor-wrapper .channel-program-layout-footer>ul {
    display: inline-block;
    white-space: nowrap;
}

#channel-editor-wrapper .channel-program-layout-footer li {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    margin: 10px;
}

#channel-editor-wrapper .timed-program .channel-editor-program-trigger {
    display: inherit;
}

#channel-editor-wrapper .percent-channel .channel-editor-program-count {
    display: inherit;
}

#channel-editor-wrapper .channel-editor-program-trigger.day-timer .timer-field-date,
#channel-editor-wrapper .channel-editor-program-trigger.date-timer .timer-field-day {
    display: none;
}

#channel-editor-wrapper .channel-editor-program-trigger,
#channel-editor-wrapper .channel-editor-program-count {
    display: none;
}


.channel-editor-property{
    position: relative;
    top: -2px;
    border: none;
    background-color:#3c8dbc;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    width: 500px;
    
}

.channel-editor-property:focus{
    background-color:white;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.channel-program-list-timed{
    position: relative;
    min-height: 85px;
}

.channel-program-list-regular{
    position: relative;
    min-height: 80px;
}


.program-list-item{
    position: relative;
    list-style: none;
    height: 120px;
    border-bottom: 1px solid #f4f4f4;
    margin: 15px 15px 15px 15px;
    background: white;
    z-index: 1;
}

.program-list-item-title{
    position: absolute;
    bottom: 7px;
    width: 100%;
    text-align: center;

}

#channel-editor-wrapper .channel-program-list{
    width: 256px;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#channel-editor-wrapper .layout-edit-propoties-name{
    border: none;
}

#channel-editor-wrapper .layout-edit-propoties-name:focus{
    border: 1px solid #ccc !important;
}

#channel-editor-wrapper .channel-program-timer{
    height: 43px;
    border-bottom: 1px solid #f4f4f4;
}

#channel-editor-wrapper .channel-program-layout-header:after{
    content: ' ';
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: #f4f4f4;
}








