<div class="modal-content" id="channel-editor-timer">
    <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">
            <%=lang.timingTrigger%>
        </h4>
    </div>
    <div class="modal-body timer-container">


        <div class="granularity-selector btn-group" style="">
            <button class="btn btn-default btn-sm" data-selector="month" style="width: 143px;"><%=lang.year%></button>
            <button class="btn btn-default btn-sm" data-selector="date" style="width: 143px;"><%=lang.month%></button>
            <button class="btn btn-default btn-sm" data-selector="day" style="width: 143px;"><%=lang.week%></button>
            <button class="btn btn-default btn-sm" data-selector="everyday" style="width: 143px;"><%=lang.day%></button>
        </div>


        <div class="month-selector">
            <label><%=lang.timer_annually%></label>
            <% if (months.length === 12) { %>
            <input type="checkbox" class="check-all-month" checked>
            <% } else { %>
            <input type="checkbox" class="check-all-month">
            <% } %>
            <ul style="padding:0;">
                <!-- <label>按月选择</label> -->
                <% for ( var i = 0; i < 12; i++) { %>
                <li data-id="<%=i+1%>" data-selector="month" style="width: 80px; text-indent:8px; ">
                    <label>
                        <% if (months.indexOf(i+1) !== -1) { %>
                        <input type="checkbox" checked>
                        <% } else { %>
                        <input type="checkbox">
                        <% } %>
                        <%=lang.Month[i]%>
                    </label>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="date-selector">
            <label><%=lang.timer_monthly%></label>
            <% if (dates.length === 31) { %>
            <input type="checkbox" class="check-all-date" checked>
            <% } else { %>
            <input type="checkbox" class="check-all-date">
            <% } %>
            <ul style="padding:0;">
                <!-- <label>按天选择</label> -->
                <% for ( var i = 0; i < 31; i++) { %>
                <li data-id="<%=i+1%>" data-selector="date" style="width: 50px; text-align: center;">
                    <label>
                        <% if (dates.indexOf(i+1) !== -1) {%>
                        <input type="checkbox" checked >
                        <% } else { %>
                        <input type="checkbox">
                        <% } %>
                        <%=(i < 9) ? '0' + (i + 1) : (i + 1)%>
                    </label>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="day-selector">
            <label><%=lang.everyWeek%>...</label>
            <% if (days.length === 7) { %>
            <input type="checkbox" class="check-all-day" checked>
            <% } else { %>
            <input type="checkbox" class="check-all-day">
            <% } %>
            <br>
            <ul style="padding: 0">
                <!-- <label>按天选择</label> -->
                <% for ( var i = 0; i < 7; i++) { %>
                <li data-id="<%=i+1%>" data-selector="day">
                    <label style="width: 76px; text-align: center;">
                        <% if (days.indexOf(i+1) !== -1) {%>
                        <input type="checkbox" checked>
                        <% } else { %>
                        <input type="checkbox">
                        <% } %>
                        <%=lang.Week[i]%>
                    </label>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="time-selector" >
            <div class="hour-selector"  style="margin-bottom: 15px;">
                    <label><%=lang.timer_everyDay%></label>
                    <select  class="form-control select2" multiple="multiple" data-selector="hour" style="height: 36px;">
                        <% if (hours.length === 24) { %>
                        <option value="*" selected="selected"><%=lang.everyHour%></option>
                        <% } else { %>
                        <option value="*"><%=lang.everyHour%></option>
                        <% } %>
                        <% for ( var i = 0; i < 24; i++) { if (hours.indexOf(i) !== -1 && hours.length !== 24) { %>
                        <option value="<%=i%>" selected="selected"><%=(i < 10) ? '0' + i : i%></option>
                        <% } else { %>
                        <option value="<%=i%>"><%=(i < 10) ? '0' + i : i%></option>
                        <% }} %>
                    </select>
            </div>
            <div class="minute-selector" style="margin-bottom: 15px;">
                    <label><%=lang.timer_everyHour%></label>
                    <select class="form-control select2" multiple="multiple" data-selector="minute" style="height: 36px;">
                        <% if (minutes.length === 60) { %>
                        <option value="*" selected="selected">
                        <% } else { %>
                        <option value="*"><%=lang.everyMin%></option>
                        <% } %>
                        <% for ( var i = 0; i < 60; i++) { if (minutes.indexOf(i) !== -1 && minutes.length !== 60) { %>
                        <option value="<%=i%>" selected="selected"><%=(i < 10) ? '0' + i : i%></option>
                        <% } else { %>
                        <option value="<%=i%>"><%=(i < 10) ? '0' + i : i%></option>
                        <% }} %>
                    </select>
            </div>
            <div class="second-selector" style="margin-bottom: 15px;">
                <label><%=lang.timer_everyMin%></label>
                <select class="form-control select2" multiple="multiple" data-selector="second" style="height: 36px;">
                    <% if (seconds.length === 60) { %>
                    <option value="*" selected="selected"><%=lang.everySecond%></option>
                    <% } else { %>
                    <option value="*"><%=lang.everySecond%></option>
                    <% } %>
                    <% for ( var i = 0; i < 60; i++) { if (seconds.indexOf(i) !== -1 && seconds.length !== 60) { %>
                    <option value="<%=i%>" selected="selected"><%=(i < 10) ? '0' + i : i%></option>
                    <% } else { %>
                    <option value="<%=i%>"><%=(i < 10) ? '0' + i : i%></option>
                    <% }} %>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="single-term-class-save" type="button" class="btn btn-save btn-primary pull-right"><%=lang.save%></button>
    </div>
</div>
