<div class="duration-input-container form-control">
    <input type="text" class="duration-input-text">
    <input type="number" class="duration-input-hidden" value="<%=duration%>">
    <span class="duration-input-hour duration-display-item"><%=hour%></span>
    <span class="duration-display-item">:</span>
    <span class="duration-input-minute duration-display-item"><%=minute%></span>
    <span class="duration-display-item">:</span>
    <span class="duration-input-second duration-display-item"><%=second%></span>
</div>