<!-- <label>
        <i class="glyphicon glyphicon glyphicon-film"></i>&nbsp视频控件
    </label>
--> 
<li style="display: none">
    <label><%=lang.currentCtrl%>:</label>
    <input type="text" readonly="readonly" value="<%=type%>">
</li>



<div class="input-group" style="width: 115px; display: inline; float: left;">
    <label class="col-sm-3 control-label property-name-inline" style="padding-left: 0px; width: 16px;">x</label>
    <input type="number" value="<%=left%>" class="form-control"  data-property-id="widget-left" style="margin-left: 4px; top:4px; width: 80px; height: 28px; line-height: 1">
</div>
<div class="input-group" style="width: 100px;display: inline; float: left;">
    <label class="col-sm-3 control-label property-name-inline" style="padding-left: 0px; width: 16px;">y</label>
    <input type="number" value="<%=top%>" class="form-control" data-property-id="widget-top" style="margin-left: 4px; top:4px; width: 80px; height: 28px; line-height: 1">
</div>

<div class="input-group" class="input-group" style="width: 115px; display: inline; float: left;">
    <label class="col-sm-3 control-label property-name-inline" title="<%=lang.width%>" style="padding-left: 0px; width: 16px;">W</label>
    <input type="number" value="<%=width%>" class="form-control" data-property-id="widget-width" style="margin-left: 4px; top:4px; width: 80px; height: 28px; line-height: 1">
   
</div>

<div class="input-group" style="width: 100px;display: inline; float: left;">
    <label class="col-sm-3 control-label property-name-inline" title="<%=lang.height%>" style="padding-left: 0px; width: 16px;">H</label>
    <input type="number" value="<%=height%>" class="form-control" data-property-id="widget-height" style="margin-left: 4px; top:4px; width: 80px; height: 28px; line-height: 1">
    
</div>




<div class="input-group" style="width: 230px;display: inline; float: left; top: 4px;">
    <label class="col-sm-3 control-label property-name-inline" style="padding-left: 0px; width: 16px; margin-right: 4px; top: -4px;"><%=lang.layer%></label>
    <button class="btn-layout-editor-zindex-increase btn btn-default btn-sm" style="width: 93px; margin-right:4px;"><%=lang.upLayer%></button>
    <button class="btn-layout-editor-zindex-decrease btn btn-default btn-sm" style="width: 93px"><%=lang.downLayer%></button>
</div>


<!-- <li>
    <button class="btn-layout-editor-delete-widget">删除控件</button>
</li> -->
